setxkbmap -option caps:swapescape  
notify-send -t 60000 -i /mnt/home/todo-list/src/material/res.jpg "Welcome to use"
krunner -d &
clash &
qv2ray &
sxhkd &
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

